@model Sklep_new.ViewModels.EditKursViewModel
@{
    ViewBag.Title = "DodajKurs";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}



<h2>Edycja produktu</h2>

<div class="container">

    @if (Model.Potwierdzenie.HasValue && Model.Potwierdzenie.Value)
    {
        <div id="w">
            <div id="content">
                <!-- Icons source http://dribbble.com/shots/913555-Flat-Web-Elements -->
                <div class="notify successbox">
                    <h1>Success!</h1>
                    <span class="alerticon"><img src="http://s22.postimg.org/i5iji9hv1/check.png" alt="checkmark" /></span>
                    <p>Thanks so much for your new added cource. </p>
                </div>
            </div><!-- end #content -->
        </div><!-- end #w -->

    }

    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <div class="panel panel-info">

            <div style="padding-top:20px" class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>



                @using (Html.BeginForm("DodajKurs", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="error-summary-centered">
                        @Html.ValidationSummary()
                    </div>
                    @Html.HiddenFor(o=>o.Kurs.KursId);
                    @Html.HiddenFor(o => o.Kurs.DataDodania);
                    @Html.HiddenFor(o => o.Kurs.NazwaPlikuObrazka);

                                <div class="form-group row">
                                    @Html.LabelFor(o => o.Kurs.AutorKursu, "Autor kursu:", new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.Kurs.AutorKursu, new { @class = "form-control", id = "login-username", type = "text", name = "username", value = "", placeholder = "Autor kursu" })
                                        @Html.ValidationMessageFor(o => o.Kurs.AutorKursu)
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(o => o.Kurs.TytulKursu, "Tytuł kursu:", new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.Kurs.TytulKursu, new { @class = "form-control", id = "login-username", type = "text", name = "username", value = "", placeholder = "Tytuł kursu" })
                                        @Html.ValidationMessageFor(o => o.Kurs.TytulKursu)
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(o => o.Kurs.OpisKursu, "Opis kursu:", new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.Kurs.OpisKursu, new { @class = "form-control", id = "login-username", type = "text", name = "username", value = "", placeholder = "Opis kursu" })
                                        @Html.ValidationMessageFor(o => o.Kurs.OpisKursu)
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(o => o.Kurs.OpisSkrocony, "Opis skrócony:", new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.Kurs.OpisSkrocony, new { @class = "form-control", id = "login-username", type = "text", name = "username", value = "", placeholder = "Opis skrócony" })
                                        @Html.ValidationMessageFor(o => o.Kurs.OpisSkrocony)
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(o => o.Kategoria, "Kategoria:", new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.Kurs.KategoriaId, new SelectList(Model.Kategoria, "KategoriaId", "NazwaKategorii", Model.Kategoria.First().KategoriaId))
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(o => o.Kurs.CenaKursu, "Cena kursu:", new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.Kurs.CenaKursu, new { @class = "form-control", id = "login-username", type = "text", name = "username", value = "", placeholder = "Cena" })
                                        @Html.ValidationMessageFor(o => o.Kurs.CenaKursu)
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(o => o.Kurs.Bestseller, "Bestseller:", new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.CheckBoxFor(m => m.Kurs.Bestseller)
                                    </div>
                                </div>

                    if (ViewBag.EditMode == null || !ViewBag.EditMode)
                    {
                        <div class="form-group row">

                            <div class="upload col-md-9">
                                <input type="file" name="file" />
                            </div>

                        </div>
                    }


                    <div style="text-align: left">
                        @if (ViewBag.EditMode=false)
                        {
                            if (Model.Kurs.Ukryty)
                            {
                                <a href="@Url.Action("PokazKurs", "Manage", new { kursId = Model.Kurs.KursId })" style="display: block; margin-top: 15px; font-weight: bold;">
                                    Przywróć
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("UkryjKurs", "Manage", new { kursId = Model.Kurs.KursId })" style="display: block; margin-top: 15px; font-weight: bold;">
                                    Usuń
                                </a>
                            }
                        }


                    </div>






                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->
                                    <div class="col-sm-12 controls">
                                        <input type="submit" id="btn-login" class="btn btn-success" value="Dodaj" />
                                    </div>
                                </div>

                }



            </div>
        </div>
    </div>
</div>

