<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage</title>



    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>@ViewBag.Title - app</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>

    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    @Html.Action("KategorieMenu", "Kursy")
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Index", "Home")"> HOME </a></li>
                        <li><a href="@Url.Action("Lista", "Kursy" , new {nazwaKategorii="ASP"})"> Asp </a></li>
                        <li><a>C#<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
                    </ul>

                    @Html.Partial("_LoginPartial")


                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span id="koszyk-naglowek-ilosc-elementow">@Html.Action("PobierzIloscElementowKoszyka", "Cart")</span> items <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-cart" role="menu">
                                <li>
                                    <span class="item">
                                        <span class="item-left">
                                            <img src="http://lorempixel.com/50/50/" alt="" />
                                            <span class="item-info">
                                                <span>Item name</span>
                                                <span>23$</span>
                                            </span>
                                        </span>
                                        <span class="item-right">
                                            <button class="btn btn-xs btn-danger pull-right">x</button>
                                        </span>
                                    </span>
                                </li>
                                <li class="divider"></li>
                                <li><a class="text-center" href="@Url.Action("Index","Cart")">View Cart</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </header>


@this.RenderBody()




<footer class="modal-footer">
            <ul class="nav navbar-nav">
                <li>
                     <a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "About" }) " style=""> Informacje</a>
                </li>
                <li>
                       <a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Contact" }) " style=""> Kontakt</a>
                </li>
             </ul>
        <p class="text-right">
        &copy; @DateTime.Now.Year — Łukasz Kaczmarek aplikacja platformy ASP.NET
        </p>
</footer>
    @Scripts.Render("~/bundles/jqueryAndJqueryUI")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
